body {
  min-height: 90vh;
  display: flex;
  justify-content: center;
  align-items: center;
}

svg#variable-logo {
  polygon {
    transform: rotateX(-180deg) rotateY(-180deg);
    animation-name: rotateTriangle;
    animation-duration: 0.5s;
    transform-style: preserve-3d;
    animation-fill-mode: forwards;
    opacity: 0;
    transition: fill 0.3s;
    &:hover {
      fill: #88b1ea;
    }
    &:nth-child(1) {
      transform: none;
      animation-name: none;
      opacity: 1;
    }
    &:nth-child(2) {
      transform-origin: 24.5px 14.5px;
    }
    &:nth-child(3) {
      animation-delay: 0.25s;
      transform-origin: 33px 29.5px;
    }
    &:nth-child(4) {
      animation-delay: 0.5s;
      transform-origin: 41.5px 44.5px;
    }
    &:nth-child(5) {
      animation-delay: 0.75s;
      transform-origin: 50px 59.5px;
    }
    &:nth-child(6) {
      animation-delay: 1s;
      transform-origin: 58.5px 44.5px;
    }
    &:nth-child(7) {
      animation-delay: 1.25s;
      transform-origin: 67px 29.5px;
    }
    &:nth-child(8) {
      animation-delay: 1.5s;
      transform-origin: 75.5px 14.5px;
    }
  }
}

@keyframes rotateTriangle {
    from { transform: rotateX(-180deg) rotateY(-180deg); opacity:1; }
    to { transform: none; opacity:1; }
}
